# Bytecode and cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
myenv/

# Logs and debugging files
logs/
*.log
*.out
*.err

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files (Mac, Windows, Linux)
.DS_Store
Thumbs.db
desktop.ini

# Dependency management
Pipfile
Pipfile.lock
poetry.lock

# IDE and editor-specific files
.vscode/
.idea/
*.iml
